@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1A1924;
  color: #E1E1E6;
  font-family: 'Roboto', sans-serif;
}

.chat_header_info .ball {
  background-color: #00B37E;
  aspect-ratio: 1;
  width: 8px;
  border-radius: 100%;
}

.message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: left;
  align-items: center;
}

.message_currentUser {
  justify-content: right;
  align-items: center;
}

.chat_body_input {
  position: relative;
  margin: 5%;
}

.icon_send {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.chat_body_input_input {
  width: 100%;
}